<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'App/css/home_style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Bienvenue, {{ user_login }}!</h1>
            <p>Vous êtes maintenant connecté.</p>
        </header>

        <nav>
            <ul>
                <li><a href="{% url 'create_hero' %}">Création des héros</a></li>
                <li><a href="{% url 'hero_list' %}">Voir mes héros</a></li>
            </ul>
        </nav>

        <footer>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn-logout">Déconnexion</button>
            </form>
        </footer>
    </div>
</body>
</html>